<div class="post-form">
  <%= form_tag({action: :upload}, multipart: true, remote: true) do %>
      <%= file_field_tag 'script', style:"float:left" %><br>
      <%= hidden_field_tag 'problem_id', problem.id %>
      <%= submit_tag 'Submit', style:"float:left;", class:"btn btn-default" %>
  <% end %>
</div>  
