<!--
The about page! Certified by George W Bush to be 100% true!
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>About Albert</title>
</head>
<body>
<s>Geroge Albert III* was born in 1996, and went on to fou..</s> <ins>woops wrong albert, trying again...</ins><br>
Albert was started in 200 BC by the emporor Agustus, before being lost by Cleopatera and discovered in 2015, 
where 2 high schoolers decided they would finish the work of the great Cesar, who was also renound for his 
dressing. After much hardship they decided html just wouldn't cut it, and after being convinced to use Ruby On Rails, 
adopted 2 more members. One was a CSS wizzard, and transformed the website from its 2200 year old self into 
what you see today! (TN: I kinda forgot what the other one did, besides help with design while we should have been doing chemestry)
During its birthing, it was decided by trial by fire that one work person would make the web front end, and the other would then do the shell script, 
  which is only .8% of albert by mass. this may seem insignificatnt, but the Javascript and css added by bootstrap accounts for 89.6% so it isn't nothing.

<br> <br> <br> <br> <br> <br>
<footer>*albert's real name is protected by the UK secrets act</footer>
</body>
</html>