<!--
Users edit
-->


<head>
  <title>Edit profile of <%= @user.name %></title>
</head>

<body>

  <h1 id="new-problem-header">Edit User:</h1>

  <%= render 'form' %>

  <%= link_to 'Back - fix path', users_path %>

</body>
