<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
  <br>
  <div class="name">Listing all Users:</div> <br>
  <% @users.each do |u| %>
  <div class="name"> <%= u.name %></div>  <br>
  <% end %>
</body>
</html>