<!--
User List 
-->



<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
      <title></title>
  </head>
  
  <body>
    <br>
    <div class="name">Listing all Users:</div> <br>
    <% @users.each do |u| %>
      <div class="name"> <%= link_to u.name, user_path(u) %><%if admin? %><h6><%= link_to '  Edit', edit_user_path(u) %></h6><%end%></div>
    <% end %>
  </body>
</html>