<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Profile of <%= @user.name %></title>
</head>
<body>
<p>
  <strong>Title:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>other stuff:</strong><br>
  more stuff
</p>
</body>
</html>