<!--
  Problemsets show
  seems functionally complete
-->
<div id="problemset-header">

  <strong id="view-problemset-title"><%=@problemset.title%></strong> 
  <% if admin? %>
     <%= link_to 'Edit', edit_problemset_path(@problemset) %>
  <%end%>
  <h4><%=raw @problemset.explanation.gsub(/\n/, '<br>')%></h4>
</div>

<% @problemset.problems.each do |problem| %>
  <%= render partial: "problems/problem", locals:{problem: problem}%>
<%end%>

