// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  font-family: "Helvetica";
  background-color:#c7c7c7;
  font-size:30px !important;
  width:100%;
  
  height: 60px;
  border-bottom:1px solid #b3b3b3;
}
.edit{
    font-size:10px !important;

}
.names{
    background-color:#e2e2e2;

}
.problemsets{
  
}
