// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  font-family: "Helvetica";
  background-color:#c7c7c7;
  font-size:30px !important;
  padding:20px;
  width:100%;
  height: 60px;
  border-bottom:1px solid #b3b3b3;
}

.edit{
    font-size:10px !important;

}
.names{
    background-color:#e2e2e2;

}
.problemsets{
  
}
.group-explanation{
	font-size: 20px;
	padding: 10px 20px;
	background: #EFEFEF;
}

//list submitted problems


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/assets/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(assets/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(assets/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
