html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
    padding: 15px 15px 0 15px;
    background: white;
    border-bottom: 1px solid #b3b3b3;
}

#topbar {
    top: 50px;
    left: 0; right: 0;
    height: 28px;
    text-decoration: none;
    font-size: 10pt;
    background-color: #33393d;
    position: fixed;
    display: inline-block;
}

#user-info {
    display: inline-block; 
    float: right;
}

.links {
    display: inline-block;
    padding: 0 0 25px;
    float: left;
}

.topbar-element {
    display: inline-block;
    color: #dcdcdc;
    font-family: "Helvetica-light", "Helvetica";
    padding: 5px;
    padding-left: 24px;
}

$footer_height: 50px;
.wrapper {
    min-height: 100%;
    margin: 0 auto (-$footer_height);
}

footer, .push {
    height: $footer_height;
}

footer {
    padding-top: 10px;
    text-align: center;
    background-color: #dcdcdc;
    color: #4a4a4a;
    font-size: 12px;
}
