// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face{
  font-face: "HelveticaNeue"
}
.container {
  padding: 100px 0;
  left: 10px;
  right: 10px;
  width: 100%;
  
}

@media (min-width: 768px) {//mobile
  .container {
    padding: 100px 0;
    width: 80%;
    align: center;
    margin-left: auto;
    margin-right: auto;    background: #CDB8E7;

  }
}

.leaderBoards{
  //background: linear-gradient(#DD8D00, #BCB4F3, #DD88FD);
  width:80%;
  height:30%;
  align: center;
  border-bottom: 1px solid;
  border-color:#dcdcdc;
  margin-left: auto;
    margin-right: auto;
}

.leader-board-column{
  display:inline-block;
  width:33%;
  padding-left:10px;
  margin-top:20px;
  
}

.leader-board-column p{
  font-size:20pt;
  margin-top:10px;
  font-family:"HelveticaNeue-light"
}
/*CSS for problems*/
$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;
$alpha: random(100)/100;

.offset{
  height:100px;;
}
.problem-base{ 
  font-family: "Helvetica-light", "Helvetica";

  width:80%;
  max-width:80%;
  margin: 0 auto;
  position:relative;
  border: 1px solid #dcdcdc;
-webkit-box-shadow: 7px 7px 23px 0px rgba(102,102,102,0.52);
-moz-box-shadow: 7px 7px 23px 0px rgba(102,102,102,0.52);
box-shadow: 7px 7px 23px 0px rgba(102,102,102,0.52);
}

.name {
  font-family: "Helvetica";
  background-color:#c7c7c7;
  font-size:30px !important;
  width:100%;
  //padding:0 270px;
  margin: 0 auto;
  display:inline-block;

  height: 60px;
  border-bottom:1px solid #b3b3b3;
  padding:10px;
}

.posted-info{
  display:inline-block;
  margin-left:20px;
}

.points{
  float:left; 
  font-size:10px;
}
.time{font-size:10px; margin-bottom:10px;}
.title{
    display:inline;
  margin-top:-10px;
  margin-left:10px;
    
}
.instructions {
  padding: 30 30 30 30;
  margin: auto;
}

.explanation {
  word-wrap:break-word;
  margin-left:20px;
  margin-right:20px;
  min-height:100px;
}

.exInOut {
  padding: 10 10 10 10;
  //display: inline-block;
  margin:auto;
  width:100%;
  position:relative;
  height:100%;

}

.exIn {
  display:inline-block;
  width:50%;
  margin: 0 auto;
  float:left;
  padding-left:20px;
}


.exOut {

  height:100%;
  display:inline-block;
  width:50%;
  margin: 0 auto;
  
  
}



.status{
  margin-left:20px;
  text-align:left;
  width: 100%;
}
.submission{
  text-align:right;
  margin-right:40px;
  padding-bottom:10px;
}
.submit{
  margin-top:-10px;
}

#sidebar{
  //top:0px;
  position:fixed;
  width:100%;
  height:30px;
  background-color:#FFF;
  text-decoration: none;
  z-index:10000;
  font-size:10pt;
  overflow-x:auto;
  border-bottom: 1px solid;
  border-color:#dcdcdc;
-webkit-box-shadow: -2px 0px 24px 0px rgba(102,102,102,0.62);
-moz-box-shadow: -2px 0px 24px 0px rgba(102,102,102,0.62);
box-shadow: -2px 0px 24px 0px rgba(102,102,102,0.62);
}
.sidebar-element{
  display:inline-block;
  color:#c7c7c7 !important;
  font-family: "Helvetica-light", "Helvetica";
  padding:5px;
  padding-left:5px;
  padding-right:5px;
  border-left: 1px solid #dcdcdc;
}
.sidebar-text:hover{
    color: #ce2f2f !important;

}.sidebar-text{
    color: #2a66d6 !important;

}
#content{
  margin-top:10px;
  position:absolute;
  display:inline-block;
  width:100vw;
  height:100%;
}

.separator{
  height: 1px;
  	ground-color:#dcdcdc;
  width:100%;
  padding-left:10px;
  padding-right:10px;
  margin-top:10px;
  margin-bottom:10px;
}

#problem-editing{
  display:inline-block;
  float:right;
  font-size:10px;
}


