/*
    Document   : app/assets/stylesheets/problemsets．css．scss
    Created on : 2014-11-11 01:54 PM
    Author     : mookie1097
    Description: for problemsets
    Purpose of the stylesheet follows.
*/

.problem-list-body{

}