<!--
application/help
uses user controller
-->
<style>
  .colorbox{height:50px; width:300px; color:#ffffff;padding: 9px 10px ;
    margin-left: 30px;}
</style>

<h1>Help</h1>
<div>
<br>All problems are first submitted to the server, where they will be checked for correctness by the autograder.
<br> initially your problems will appear as
<div class="colorbox" style="background-color:#494949";>Problem has not been attempted.</div>
<br>  
<br>Upload your source code, you can submit any of the following files:  .java, .cpp, .c, .h, .cpp, .py
<br>[Picture]
<br>After you submit, your code will be autograded
<br>  
<div class="colorbox" style="background-color:#007777";>If it is correct it will appear as this color.</div>
<div class="colorbox" style="background-color:#5e1313";>Incorrect will appear as this color.</div>
<br>
<br>Once your code has been uploaded you can turn it in to your teacher. Code deemed incorrect by the autograder may still be submitted, ultimately your grade is up to the teacher.
<br>[Picture]
<br>
<div class="colorbox" style="background-color:#8c5100";>You have submitted your code to your teacher for grading.</div>
  <br> <br>
<br>Once your teacher grades it, it you will receive your final grade
<div class="colorbox" style="background-color:#177500";>Your code has been graded, you're all done.</div><br>
</div>